.modal-dialog {
  max-width: 400px !important;
}

#FIO_modal {
  width: 100% important;
}

#birthday_modal {
  width: 150px;
}

#eth_modal div.selectize-control div.selectize-input{
  width: 200px;
}

.accordion_box
{
  border: 1px solid gray;
  background: #e1e1e1;
  color: #332e2e;
  border-radius: 10px;
  margin-bottom: 20px;
}

.accordion_box.active
{
  background: #fff;
}

.acc_trigger {
  padding: 15px 40px;
  margin: 0;
  position:relative;
  cursor: pointer;
}

.acc_triger i{
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 20px;
}

.acc_container {
  line-height: 1.6;
}

.acc_container p{
  margin-top: 0px;
}

